#parse("header2.html")
<link rel="stylesheet" href="../styles/index.css">
<link rel="stylesheet" href="../styles/detail.css">
<div class="zg-wrap zu-main clearfix " role="main">

    <div role="search" id="zh-top-search" class="zu-top-search">
        <form method="GET" action="/management/searchuser" id="zh-top-search-form" class="zu-top-search-form">
            <input type="hidden" name="type" value="content">
            <label for="q" class="hide-text">搜索</label><input type="text" class="zu-top-search-input" id="q" name="name" autocomplete="off" value="" placeholder="请输入用户名..." role="combobox" aria-autocomplete="list">
            <button type="submit" class="zu-top-search-button"><span class="hide-text">搜索</span><span class="sprite-global-icon-magnifier-dark"></span></button>
        </form>
    </div>

    <div class="zu-main-content">
        <div class="zu-main-content-inner">
            <div class="zg-section" id="zh-home-list-title">
                <i class="zg-icon zg-icon-feedlist"></i>最新动态
                <input type="hidden" id="is-topstory">-->
            </div>
            <div class="zu-main-feed-con navigable" data-feedtype="topstory" id="zh-question-list" data-widget="navigable" data-navigable-options="{&quot;items&quot;:&quot;&gt; .zh-general-list .feed-content&quot;,&quot;offsetTop&quot;:-82}">
                <div id="js-home-feed-list" class="zh-general-list topstory clearfix" data-init="{&quot;params&quot;: {}, &quot;nodename&quot;: &quot;TopStory2FeedList&quot;}" data-delayed="true" data-za-module="TopStoryFeedList">

                    <div class="zm-profile-section-list">
                        <div id="zh-profile-follows-list">
                            <div class="zh-general-list clearfix">
                                #foreach($vo in $vos)
                                <div class="zm-profile-card zm-profile-section-item zg-clear no-hovercard">

                                    <div class="zg-right">
                                        <form action="/management/deleteuser" method="get">
                                            <input type="hidden" name="name" value="${vo.user.name}"/>
                                            <button type="submit" class="follow-button zg-follow zg-btn-green">删除</button>
                                        </form>
                                    </div>

                                    <a title="Barty" class="zm-item-link-avatar" href="/user/${vo.user.id}">
                                        <img src="${vo.user.headUrl}" class="zm-item-img-avatar">
                                    </a>
                                    <div class="zm-list-content-medium">
                                        <h2 class="zm-list-content-title"><a data-tip="p$t$buaabarty" href="/user/${vo.user.id}" class="zg-link" title="Barty">${vo.user.name}</a></h2>

                                        <div class="details zg-gray">
                                            <a target="_blank" href="/user/${vo.user.id}/followers" class="zg-link-gray-normal">${vo.followerCount}粉丝</a>
                                            /
                                            <a target="_blank" href="/user/${vo.user.id}/followees" class="zg-link-gray-normal">${vo.followeeCount}关注</a>
                                            /
                                            <a target="_blank" href="#" class="zg-link-gray-normal">${vo.commentCount} 回答</a>
                                            /
                                            <a target="_blank" href="#" class="zg-link-gray-normal">548 赞同</a>
                                        </div>
                                    </div>
                                </div>
                                #end
                            </div>
                            <a aria-role="button" class="zg-btn-white zu-button-more">更多</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
#parse("js.html")
<script type="text/javascript" src="../scripts/main/site/detail.js"></script>
#parse("footer.html")